<div>
    <!-- Hero Section -->
    <div class="bg-[#c05bc6] text-white py-4 text-center">
        <h1 class="text-4xl font-bold">
            Welcome to MacStore's Product Management Console
        </h1>
        <p class="mt-4">Organize, Manage, and Grow Your Products</p>
    </div>

    <h2 class="text-2xl font-bold mb-4 text-gray-600 m-2">Search Results</h2>
    <div
        class="grid grid-cols-3 md:grid-cols-5 gap-4 p-2 w-full h-full"
        id="productList"
    >
        <% if (searchProducts && searchProducts.length > 0) { %> <%
        searchProducts.forEach(function(product) { %>
        <div
            class="bg-white border h-96 rounded-lg p-4 shadow-sm relative transform transition-all duration-300 hover:scale-105 hover:shadow-lg"
        >
            <img
                src="/products/<%= product.image %>"
                alt="<%= product.name %>"
                class="w-full h-[70%] object-cover rounded mb-4"
                onerror="this.src='/images/placeholder.png'"
            />
            <h3
                title="<%= product.name %>"
                class="text-medium font-semibold mb-2"
            >
                <%= product.name.length < 62 ? product.name :
                product.name.slice(0, 62) + '...' %>
            </h3>
            <div
                class="absolute bottom-2 flex justify-between w-full left-0 px-4"
            >
                <div class="flex justify-between items-center w-full">
                    <div class="flex gap-2 items-center justify-center">
                        <span class="text-[#c05bc6] font-bold">
                            ¢<%= new Intl.NumberFormat('en-US', {
                            minimumFractionDigits: 2, maximumFractionDigits: 2
                            }).format(product.price) %>
                        </span>
                        <span class="text-gray-500 text-sm">
                            Stock: <%= product.stock %>
                        </span>
                    </div>
                    <a
                        href="/products/<%= product._id %>"
                        title="Click to view more..."
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6 hover:text-[#c05bc6]"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                            />
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <% }); %> <% } else { %>
        <h2 class="text-2xl font-bold mb-4 text-gray-600">No Products Found</h2>
        <% } %>
    </div>
</div>
